@import "tailwindcss";
@custom-variant hover (&:hover);
/* hover issues bug fix for tailwind v4 */


@layer utilities {
  .text-sm2 {
    font-size: 15px;
    line-height: 18px;
  }

  .text-xs {
    font-size: 13px;
    line-height: 16px;
  }

  .text-x2s {
    font-size: 12px;
    line-height: 15px;
  }

/* Fade-in entry */
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
